.card {
  margin: 15% auto;
  width: 50%;
}

mat-form-field {
  margin: 5%;
}
label {
  margin-top: 5%;
}

.hideIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.hideIcon > mat-icon {
  cursor: pointer;
}
