<form [formGroup]="form" (submit)="onSavePost()">
  <mat-form-field appearance="outline">
    <mat-label>Poster votre message</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      formControlName="content"
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"
    ></textarea>
    <!--    <mat-error *ngIf="form.value.content === null"
      >Please enter a post title.</mat-error
    >-->
  </mat-form-field>
  <button
    *ngIf="form.value.content !== null && form.value.content !== ''"
    mat-raised-button
    color="primary"
    type="submit"
  >
    Poster
  </button>
  <button
    *ngIf="form.value.content === null || form.value.content === ''"
    mat-raised-button
    disabled
    type="submit"
  >
    Poster
  </button>
</form>
